{% extends "productos/base.html" %}

{% block content %}
<h2>Confirmar Pago</h2>

<p>Tu pedido ha sido registrado con el total de <strong>${{ pedido.total }}</strong>.</p>

{% if pedido.metodo_pago == "Cuenta DNI" or pedido.metodo_pago == "Banco Nación" %}
    <p>Realiza la transferencia al siguiente alias:</p>
    <p><strong>sport_billy.ropa</strong></p>
    <p>Una vez realizado el pago, envía el comprobante a nuestro WhatsApp: <a href="https://wa.me/2216769436">Enviar Comprobante</a></p>
{% else %}
    <p>Pago en efectivo al retirar el producto.</p>
{% endif %}

{% endblock %}
